{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}


<div class="alert alert-info alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="text-white">集合時間まで参加を募集しています</h5>
</div>

<div class="row p-2">
  <div class="col">
    <div class="card h-100"  style="width: 40rem;">

      <div class="card-header">
         <h4>{{review.store_name}}</h4>
      </div>
      <img class="card-img-top w-50" src="{{ review.image1 }}" alt="Card image cap"> 
      <div class="card-body">

          <h5>料金：{{ review.price }}</h5>
         　<h5>締め切り時間：{{review.limit_date}}</h5>
         　<h5>集合時刻まで ：<span class="counter"></span></h5>
             <br>
          <progress value={{ review.checked_number }} max={{review.max_number}} style="height: 50px; width:400px; color:orange; font-size:30 ;" ></progress> 
          <h5>{{ review.checked_number }}人／{{ review.max_number }}人中</h5>
          <form action="{% url 'reviews:review_detail_cancel' review.pk %}" method="POST" class="form-inline">
              {% csrf_token %}
          <div class="pt-2">
             <button type="submit" class="btn btn-outline-primary mb-12" aria-pressed="true">キャンセル</button>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>


<script language="JavaScript">
//オブジェクト取得
const reiwa = document.querySelector('.reiwa');
const counter = document.querySelector('.counter');

//あと何日メソッド
function nanNichi(){

//今の日時
today = new Date();

var year = today.getFullYear();
var month = today.getMonth() + 1;
var day = today.getDate();
var hour = today.getHours();
var min = today.getMinutes();
var sec = today.getSeconds();

//
const tyear = {{review.limit_date.year}};
const tmonth = {{review.limit_date.month}};
var tday = {{review.limit_date.day}};
var thour = {{review.limit_date.hour}} + 9;
const tmin = {{review.limit_date.minute}};
const tsec = {{review.limit_date.second}};

//ターゲット日時

if (thour > 24) {
thour = thour - 24;
tday = tday + 1;
}


//分、時、日の秒数

var dsec = tday * 24*60*60 + thour*60*60 + tmin*60 + tsec - (day*24*60*60 + hour*60*60 + min*60 + sec);

const Hour = Math.floor(dsec/(60*60));

var dsec2 = dsec - Hour*60*60;

const Min = Math.floor(dsec2/60);

var dsec3 = dsec2 - Min*60;

const Sec = dsec3;

const Day = tday - day;

//あと何日
const d4_Day = Day;

//あと何時間
const d5_Hour = Hour;

//あと何分
const d6_Minute = Min;

//あと何秒
const d7_Sec = Sec;
   
//カウントダウン
counter.innerHTML = d4_Day+"日"+ d5_Hour + "時間" + d6_Minute + "分" + d7_Sec + "秒";

//1秒ごとに実行
setTimeout(nanNichi, 1000);

setTimeout(function(){
  window.location.href = "{% url 'reviews:review_detail_result' review.pk %}";
}, dsec*1000);


var max_num = {{review.max_number}};
var checked_num = {{review.checked_number}};

if (checked_num >= max_num) {
  window.location.href = "{% url 'reviews:review_detail_result' review.pk %}";
}



}

//関数実行
nanNichi();



</script>

{% endblock %}

