{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="{% static 'menu/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'menu/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'menu/css/bootstrap.min.css' %}">
    <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %}コノユビトマレ</title>
    
    <!-- ナビバー -->
    
</head>

<body class ="p-3 mb-2 bg-warning text-dark">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr class="col-sm-9">
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>



<tr class="col-sm-9"> 
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>


</table>
<div class="px-4 py-5">
<input type="submit" class="btn btn-info btn-block" value="login" />
<input type="hidden" class="btn btn-info btn-block" name="next" value="{{ next }}" />
</div>
</form>
</form>
<a href="{% url 'accounts:signup' %}" class="nav-link">Sign up</a>
</div>
</div>


<footer>


</footer>
</div>
</body>
</html>