{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr class="col-sm-9">
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>



<tr class="col-sm-9"> 
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>


</table>
<div class="px-4 py-5">
<input type="submit" class="btn btn-info btn-block" value="login" />
<input type="hidden" class="btn btn-info btn-block" name="next" value="{{ next }}" />
</div>
</form>
{% endblock %}