{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="{% static 'registration/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'registration/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'registration/css/bootstrap.min.css' %}">
    <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %}コノユビトマレ</title>

</head>

</div>



<body class ="p-3 mt-2 bg-warning text-dark">
<div class="d-flex align-items-center justify-content-center">

<div class="w-50 mt-5 p-5">
<img src="{% static 'registration/images/icon.png' %}" class="img-fluid"  width="150" height="150">
<img src="{% static 'registration/images/title_logo.png' %}" class="img-fluid"  width="700" height="700">
</div>
<br><br><br>
</div>

<div class="d-flex align-items-center justify-content-center">
<div>

<div class="mx-auto" style="width: 600px;">
<h1>Logged Out</h1>
<p>Thanks for spending some quality time with the Web site today.</p>
<p><a href="{% url 'login' %}">Log in again</a></p>

</div>
</form>
</div>
</div>

</body>
</html>