{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<h2>周辺情報</h2>
  <style>
   #map-canvas {
     width: 600px;
     height: 400px;
   }
  </style>
  <div id="map-canvas" width ="600px" height ="400px">ここにマップが表示されます</div>
  
   <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
      // InvalidValueError: initMap is not a functionの対応
    window.onload = function () {
    initMap();
}
    </script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG2NYvDpJOksdY6Fad95w7EpFMj7LIOMI&callback=initMap"
    async defer></script>
{% endblock %}