{% load static %}
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="{% static 'menu/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'menu/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'menu/css/bootstrap.min.css' %}">
    <script src="{% static 'menu/js/shards.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'maps/css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'menu/css/shards.min.css' %}">
    <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %}コノユビトマレ</title>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height:70%;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding:0;
      }
    </style>

  </head>
  <body onload="display();">
    <div class="container-fluid">
<header class="p-2 bg-warning text-white w-100 nav-justified">

<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-warning">
    <div class="d-inline">
           <form class="form-inline" action="{% url 'menu:search' %} " method="get">
               <input style="width:400px;" class="form-control mr-4" name="query" placeholder="検索したいエリア・施設名を入力" aria-label="Search" value="{{ request.GET.query }}" type="search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
           </form>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

    <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-warning">
    <nav class="navbar navbar-expand-md navbar-warning bg-first navbar-fixed-top">
    <ul class = "w-100 nav-justified .border-top.border-bottom .border-info">

                {% if user.is_authenticated %}

                <div class="navbar-nav">
                  <a class="nav-item nav-link active text-white font-weight-bolder" href="{% url 'menu:index' %}">Top <span class="sr-only"><span class="badge badge-secondary">10</span>(current)</span></a>
                  <a class="nav-item nav-link text-white font-weight-bolder" href="/maps/area/">MAP</a>
                  <a class="nav-item nav-link text-white font-weight-bolder" href="/maps/keyword/">Keyword</a>
                  <a class="nav-item nav-link text-white font-weight-bolder" href="/maps/ranking/">Ranking</a>
                  <a class="nav-item nav-link text-white font-weight-bolder" href="{% url 'reviews:review_list' %}">Now Open</a>
                  <a class="nav-item nav-link text-white font-weight-bolder" href="{% url 'logout' %}">Logout</a>
                </div>
                            
                {% else %}
                <a href="{% url 'accounts:signup' %}" class="nav-link">Sign up</a>
                <a href="{% url 'login' %}" class="nav-link">Login</a>
                {% endif %}
    </ul>
    </nav>
    </div>
  </div>
</div>
</header>
      <!--以下地図による検索部分-->
      <div>
        <div class="row justify-content-between no-gutters">
          <div class="col-5">
            <div class="content">
              <div class="px-5 py-4">
                <h5> マップから探す</h5>

                <div class="form-row">
                  <div class="col pb-3">
                    <input style="width:350px;"class="form-control" aria-label="Search"  type="search" size="45" id="search" placeholder="検索したい施設名を入力してください" />
                  </div>
                  <div class="col">
                    <input type="button"  class="btn btn-primary" size="55" value="検索" onClick="initMap()" />
                  </div>
                  <div class="col">
                  </div>
                </div>


                <div id="map" style="width: 100%; height: 100%;" class = "m-3"></div>
              </div>
            </div>


  <script>
    /* Note: This example requires that you consent to location sharing when
     * prompted by your browser. If you see the error "Geolocation permission
     * denied.", it means you probably did not give permission for the browser * to locate you. */
    let pos;
    let map;
    let bounds;
    let infoWindow;
    let currentInfoWindow;
    let service;
    let infoPane;
    function initMap() {
      // Initialize variables
      bounds = new google.maps.LatLngBounds();
      infoWindow = new google.maps.InfoWindow;
      currentInfoWindow = infoWindow;
      /* TODO: Step 4A3: Add a generic sidebar */
      infoPane = document.getElementById('panel');

      // Try HTML5 geolocation
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
          pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          map = new google.maps.Map(document.getElementById('map'), {
            center: pos,
            zoom: 15
          });
          bounds.extend(pos);

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          infoWindow.open(map);
          map.setCenter(pos);

          // Call Places Nearby Search on user's location
          var myword = document.getElementById("search")
          getNearbyPlaces(pos,myword);
        }, () => {
          // Browser supports geolocation, but user has denied permission
          handleLocationError(true, infoWindow);
        });
      } else {
        // Browser doesn't support geolocation
        handleLocationError(false, infoWindow);
      }
    }

    // Handle a geolocation error
    function handleLocationError(browserHasGeolocation, infoWindow) {
      // Set default location to Sydney, Australia
      pos = { lat: -33.856, lng: 151.215 };
      map = new google.maps.Map(document.getElementById('map'), {
        center: pos,
        zoom: 15
      });

      // Display an InfoWindow at the map center
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Geolocation permissions denied. Using default location.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
      currentInfoWindow = infoWindow;

      // Call Places Nearby Search on the default location
      getNearbyPlaces(pos,myword);
   }

    // Perform a Places Nearby Search Request
    function getNearbyPlaces(position, myword) {
      let request = {
        query : myword.value,
        location: position,
        rankBy: google.maps.places.RankBy.DISTANCE,
        radius: 5000,      // ※１ 表示する半径領域を設定(1 = 1M)
      };

      service = new google.maps.places.PlacesService(map);
      service.nearbySearch(request, nearbyCallback);
    }

    // Handle the results (up to 20) of the Nearby Search
    function nearbyCallback(results, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        createMarkers(results);
      }
    }

    // Set markers at the location of each place result
    function createMarkers(places) {
      places.forEach(place => {
        let marker = new google.maps.Marker({
          position: place.geometry.location,
          map: map,
          title: place.name
        });

        /* TODO: Step 4B: Add click listeners to the markers */
        // Add click listener to each marker
        google.maps.event.addListener(marker, 'click', () => {
          let request = {
            placeId: place.place_id,
            fields: ['name', 'formatted_address', 'geometry', 'rating',
              'website', 'photos']
          };

          /* Only fetch the details of a place when the user clicks on a marker.
           * If we fetch the details for all place results as soon as we get
           * the search response, we will hit API rate limits. */
          service.getDetails(request, (placeResult, status) => {
            showDetails(placeResult, marker, status)
          });
        });

        // Adjust the map bounds to include the location of this marker
        bounds.extend(place.geometry.location);
      });
      /* Once all the markers have been placed, adjust the bounds of the map to
       * show all the markers within the visible area. */
      map.fitBounds(bounds);
    }

    /* TODO: Step 4C: Show place details in an info window */
    // Builds an InfoWindow to display details above the marker
    function showDetails(placeResult, marker, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK) {
      
        let firstPhoto = placeResult.photos[0];
        let photo = document.createElement('img');
        photo.classList.add('hero');
        photo.src = firstPhoto.getUrl();
      
        let placeInfowindow = new google.maps.InfoWindow();
        let rating = "None";
        if (placeResult.rating) rating = placeResult.rating;
        placeInfowindow.setContent('<div><strong>' + placeResult.name +
          '</strong><br>' + 'Rating: ' + rating + '</div>'+'<img src='+photo.src+'>');
        placeInfowindow.open(marker.map, marker);
        
        currentInfoWindow.close();
        currentInfoWindow = placeInfowindow;
        showPanel(placeResult);
      } else {
        console.log('showDetails failed: ' + status);
      }
    }


  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG2NYvDpJOksdY6Fad95w7EpFMj7LIOMI&libraries=places&callback=initMap">
  </script>




            <!-お試し部分終わり-->
          </div>
          <div class="col-7">
          <div class="p-3 m-5">              
            <ul style="list-style: none;" class="search-wrapper">

              <a class="text-secondary" data-toggle="modal" data-target="#md0"><li id="output0"></li></a>
              <a class="text-secondary" data-toggle="modal" data-target="#md1"><li id="output1"></li></a>
              <a class="text-secondary" data-toggle="modal" data-target="#md2"><li id="output2"></li></a>
             　<a class="text-secondary" data-toggle="modal" data-target="#md3"><li id="output3"></li></a>
              <a class="text-secondary" data-toggle="modal" data-target="#md4"><li id="output4"></li></a>
              <a class="text-secondary" data-toggle="modal" data-target="#md5"><li id="output5"></li></a>
              <a class="text-secondary" data-toggle="modal" data-target="#md6"><li id="output6"></li></a>
              <a class="text-secondary" data-toggle="modal" data-target="#md7"><li id="output7"></li></a>
              <a class="text-secondary" data-toggle="modal" data-target="#md8"><li id="output8"></li></a>
              <a class="text-secondary" data-toggle="modal" data-target="#md9"><li id="output9"></li></a>
              <a class="text-secondary" data-toggle="modal" data-target="#md10"><li id="output10"></li></a>
            </ul>
 
            </div>
          </div>
        </div>  

      </div>
    </div>

    
    <!-- ボタン・リンククリック後に表示される画面の内容-- >

<!-- Modal -->
<div class="modal fade" id="md0" tabindex="-1" role="dialog" aria-labelledby="mdl0" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl0">Modal title0</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="md1" tabindex="-1" role="dialog" aria-labelledby="mdl1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl1">Modal title1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="md2" tabindex="-1" role="dialog" aria-labelledby="mdl2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl2">Modal title2</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="md3" tabindex="-1" role="dialog" aria-labelledby="mdl3" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl3">Modal title3</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="md4" tabindex="-1" role="dialog" aria-labelledby="mdl4" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl4">Modal title4</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="md5" tabindex="-1" role="dialog" aria-labelledby="mdl5" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl5">Modal title5</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="md6" tabindex="-1" role="dialog" aria-labelledby="mdl6" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl6">Modal title6</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="md7" tabindex="-1" role="dialog" aria-labelledby="mdl7" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl7">Modal title7</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="md8" tabindex="-1" role="dialog" aria-labelledby="mdl8" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl8">Modal title8</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="md9" tabindex="-1" role="dialog" aria-labelledby="mdl9" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl9">Modal title9</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="md10" tabindex="-1" role="dialog" aria-labelledby="mdl10" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl10">Modal title10</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>


  </body>
</html>