{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<h2>現在地から探す</h2>

  <div id="maps"></div>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyC4yBGZg15Kosu-iJmb0sPWjCE4_yarkUk&callback=initMap" async></script>
  <script type="text/javascript">
    function initMap() {
      var mapPosition = {lat: 35.170662, lng: 136.923430}
      var mapArea = document.getElementById('maps');
      var mapOptions = {
        center: mapPosition,
        zoom: 16,
      };
      var map = new google.maps.Map(mapArea, mapOptions);
    }
  </script>

{% endblock %}